/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
    font-family: sans-serif;
    background-color: rgb(116, 89, 116, .8);
}
img{
    box-shadow: 0 15px 10px -5px rgba(0, 0, 0, .65);
}
/* UTILITIES */
/* Arrows */
.prev,
.next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: color .3s;
}
.prev{
    left: 20px;
}
.next{
    right: 20px;
}
.prev:hover,
.next:hover{
    color: #31475e;
}

/* HEADER */
.app-header h1{
    position: relative;
    width: 400px;
    margin: 50px auto;
    color: #31475e;
    font-size: 70px;
    text-align: center;
    text-shadow: 0 0 20px #fff;
}
.app-header img{
    position: absolute;
    top: -5px;
    left: -25px;
    height: 80px;
    box-shadow: none;
    filter: drop-shadow(0 0 30px #fff);
}

/* MAIN SLIDER */
.main-slider{
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}
.main-slider .prev,
.main-slider .next{
    height: 100%;
    width: 80px;
    opacity: 0;
    transition: opacity .4s;
}
/* Main Slider Arrows */
.main-slider .prev{
    left: 0; 
}
.main-slider .next{
    right: 0;
}
.main-slider .prev:hover,
.main-slider .next:hover{
    opacity: 1;
}
.main-slider .prev:hover{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, .9), rgba(255, 255, 255, .8), rgba(255, 255, 255, .6), rgba(255, 255, 255, .4), rgba(255, 255, 255, .2), rgba(255, 255, 255, 0));
}
.main-slider .next:hover{
    background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, .9), rgba(255, 255, 255, .8), rgba(255, 255, 255, .6), rgba(255, 255, 255, .4), rgba(255, 255, 255, .2), rgba(255, 255, 255, 0));

}
/* Images */
.main-slider .images{
    height: 400px;
    width: 900px;
    margin: 0 auto;
}
.images img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* Dot Nav */
.main-slider .dot-nav{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
}
.dot-nav i{
    margin: 10px;
    color:rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.dot-nav i:hover{
    color: #fff;
}
.dot-nav i.active{
    color: #3fb984;
}

/* PREVIEW SLIDER */
.preview-slider{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.preview-slider .preview{
    margin: 20px auto;
    height: 120px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.preview-slider .preview img{
    width: 300px;
    height: 100%;
    margin: 15px;
    object-fit: cover;
    cursor: pointer;
}